n8n/Get__menu.json
{
  "name": "Get /menu",
  "nodes": [
    {
      "parameters": {
        "path": "menu",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c9a1528-8dc3-429b-bd4f-aacc0d4d3e08",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -420,
        200
      ],
      "webhookId": "a03d9362-5e86-48a9-b215-e013f62ba490"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all()) }}",
        "options": {}
      },
      "id": "029d45e2-3c61-43e4-89f7-fbacc4e60ef1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * from public.menu",
        "additionalFields": {}
      },
      "id": "2c816fa2-23f6-4e02-be8a-9fdf2ac2de1e",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -80,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function convertKeysToCamelCase(obj) {\n  const newObj = {};\n  for (let key in obj) {\n    const newKey = key.replace(/_([a-z])/g, function (m, p1) {\n      return p1.toUpperCase();\n    });\n    newObj[newKey] = obj[key];\n  }\n  return newObj;\n}\n\nconst result = []\n$input.all().forEach(i => {\n  result.push(convertKeysToCamelCase(i.json))\n})\n\nreturn result"
      },
      "id": "1e367228-a949-4b0f-942c-a8f413f3f089",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        60
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "46cef055-fbce-43dc-a231-0cb41d2f4ed1",
  "id": "1",
  "meta": {
    "instanceId": "9280207ec38db86a3f580da942b23f346bdae991505672c71b89be17254cdc56"
  },
  "tags": [
    {
      "createdAt": "2023-03-17T00:58:58.624Z",
      "updatedAt": "2023-03-17T00:58:58.624Z",
      "id": "1",
      "name": "api"
    }
  ]
}